{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
	<form method="post">
		<label for="username">Username</label>
		<input name="username" id="username">
		<label for="password">Password</label>
		<input type="password" name="password" id="password">
		<input type="submit" value="Register">
	</form>
{% endblock %}
